@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
  font-family: 'Poppins', sans-serif;
}


.option-item {
  padding: 0.75rem 1rem; /* Adjust padding to increase height */
}

.np-custom{
  margin-top: 4rem;
}

.btn-label{
  display: flex !important;
}

/* .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  margin: auto;
  background: transparent;
} */

#button-loader {
  display: block;
  position: relative;
  /* left: 50%; */
  /* top: 50%; */
  width: 25px;
  height: 25px;
  /* margin: -75px 0 0 -75px; */
  margin: auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  -webkit-animation: spin 0.9s linear infinite;
  animation: spin 0.9s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}